
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.footer-background-container{
    background-color: #000;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: white;
}
.footer-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    
}
.footer-left-fitnessclub-card-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    margin-right: 50px;
}
.footer-social-media{
width: 300px;
}
.footer-social-media-icons{
    margin-right: 13px;
    font-size: 20px;
    cursor: pointer;
}
.facebook{
   color:#1877f2;;
}
.youtube{
    color: #FF0000;
}
.twitter{
    color: #1DA1F2;
}
.instagram{
    color: #cd486b;
    padding-top: 0px;
    margin-top: 0px;
}
.gmail{
    color: #c71610;
}
