.login-button {
    background-color: #212132;
    color: #ffffff;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: x-large;
    box-shadow: 5px 5px white;
    border-radius: 15px;
    transition-duration: 2s;
    border: 3px solid white;
    margin-right: 10px;
  }
  
  .login-button:hover {
    background-color: #212132;
    color: #f48916;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: x-large;
    box-shadow: none;
    border-radius: 10px;
  }
  .header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }
  .header-pages-words{
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
  }