.signup-flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-image: url("./Assets/images/signupback.jpeg");
    background-size: cover;
}

.signup-flex-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.signup-input-container {
    padding: 120px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(244, 137, 22, 0.5); */
    border-radius: 10px;
    padding-right: 200px;
}

.signup-input-container:hover {
    background-color: white;
    padding: 120px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(244, 137, 22, 0.5); */
    border-radius: 10px;
    padding-right: 200px;
    /* border:  3px solid #f48916 ; */
    border: 3px solid black;
    text-shadow: 1px 1px 2px white, 10px 10px 35px black, 0 0 5px #f48916;
    /* box-shadow: 10px 10px 5px #f48916; */
    box-shadow: 10px 10px 5px black;
}
.signup-heading{
    text-align: center;
    margin-bottom: 30px;
}
.signup-input-box{
    margin-bottom:15px;
    border: 2px solid black;
    border-radius: 5px;
}
::placeholder {
    color: #f48916; 
}
.signup-button{
    margin-bottom: 10px;
    background-image: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
    color: white;
    border: 0px ;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid black;
    border-radius: 5px;
}
.sign-up{
    font-size: smaller;
    font-weight: bold;
}
.login-link{
    color: #0000FF;
    margin-left: 10px;
}
.signup-icons{
    margin-top: 30px;
}
.signup-social-media-icons{
    margin-right: 13px;
    font-size: 20px;
    cursor: pointer;
}
.facebook{
   color:#1877f2;;
}
.youtube{
    color: #FF0000;
}
.twitter{
    color: #1DA1F2;
}
.instagram{
    color: #cd486b;
    padding-top: 0px;
    margin-top: 0px;
}
.linkedin{
    color: #0A66C2;
}
.signup-poster{
    position: absolute;
    left: 850px;
}
a{
    text-decoration: none;
}